.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-logo {
    margin-top: 20px;
    margin-left: 20px;
}

.menu-icon {
    margin-bottom: 5px;
}

.header-icons img {
    right: 0;
}

