.card {
    position: center;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    width: 470px;
    height: 825px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.top-card {
    display: flex;
}

/* Add rounded corners to the top left and the top right corner of the image */
img .card {
    position: center;
    height: 470px;
    width: 470px;
    margin-top: 13px;
    border-radius: 5px 5px 0 0;
}

.display-pic {
    margin-top: 15px;
}

h4 {
    margin-left: 5px;
}

h3 {
    margin-top: 30px;
}

.three-dot {
    margin-left: 275px;
    margin-top: 20px;
}

.card-container {
    display: inline;
    justify-content: space-evenly;
    flex-direction: row;
}