.story-container {
    margin: 30px auto auto;
    width: 470px;
    height: 119px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    border-style: groove;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.story-container img {
    margin-left: 15px;
    margin-top: 5px;
    width: 64px;
    height: 84px;
}