.story-container {
    margin: auto;
    margin-top: 10px;
    width: 470px;
    height: 119px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.story-container img {
    margin-left: 15px;
    margin-top: 15px;
    width: 64px;
    height: 84px;
}