textarea {
    margin-left: 10px;
    height: 24px;
    width: 350px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    font-size: 18px;
    color: grey;
    resize: none;
}

button {
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: white;
    color: deepskyblue;
    font-size: 18px;
}