.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-logo {
    margin-top: 10px;
    margin-left: 20px;
}

.menu-icon {
    width: 12px;
    margin-bottom: 15px;
}

.header-icons img {
    margin-top: 15px;
    right: 0;
    margin-right: 20px;
}


