.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-style: groove;
    padding-bottom: 10px;
    padding-top: 5px;
}

.header-logo {
    margin-top: 5px;
    margin-left: 20px;
}

.menu-icon {
    width: 12px;
    margin-bottom: 15px;
}

.header-icons img {
    margin-top: 10px;
    right: 0;
    margin-right: 20px;
}


